.hero {
  background-color: rgb(219, 50, 54);
  text-align: center;
  color: black;
}
.tile-black {
  background-color: black;
  color: whitesmoke;
}

.tile-red {
  background-color: #2c2a29;
  color: white;
}

.tile-gray {
  background-color: gray;
  color: black;
}

.tile-gray-light {
  background-color: #5d6d7e;
  color: black;
}

input.MyButton1 {
  width: 120px;
  padding: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 150%;
  background: #1979a9;
  color: #fff;
  border: 1px solid #3366cc;
  border-radius: 10px;
}

input.MyButton2 {
  width: 120px;
  padding: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 150%;
  background: #69bdd2;
  color: #fff;
  border: 1px solid #3366cc;
  border-radius: 10px;
}
input.MyButton3 {
  width: 120px;
  padding: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 150%;
  background: #042f66;
  color: #fff;
  border: 1px solid #3366cc;
  border-radius: 10px;
}

input.MyButton4 {
  width: 120px;
  padding: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 150%;
  background: #195e83;
  color: #fff;
  border: 1px solid #3366cc;
  border-radius: 10px;
}

nav div a:hover img {
  transform: scale(4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  
}
